.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.todos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: left;
}

.todo{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}